<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage.length > 0) { %>
            <div class="user-message user-message--error">
                <%= errorMessage %>
            </div>
            <% } %>
            <% if (success.length > 0) { %>
                <div class="user-message user-message--success">
                    <%= success %>
                </div>
                <% } %>
                <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to Brilliant Brushes!</h1>
                <p class="lead">Find yourself amidst the light of beautiful colors...</p>
                <hr class="my-4">
                <p class="lead">For all the artists and art lovers out there..... </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="/products" role="button">Explore</a>
                </p>
              </div>
            </div>
              <div class="container grid-container">
                <div class="grid-container-item">
                <h2>Create an Account</h2>
              <i class="fa fa-user-plus" style="font-size:100px;"></i>
            </div>
            <div class="grid-container-item">
                <h2>Upload</h2>
                <i class="fa fa-upload"  style="font-size:100px;"></i>
            </div>
            </div>
            <div class="grid-container-item">
                <h1>Buy Others!</h1>
            </div>
            <div class="container grid-container">
                <div class="grid-container-item">
                    <h2>Login</h2>
                  <i class="fa fa-user-plus" style="font-size:100px;"></i>
                </div>
            <div class="grid-container-item">
                <h2>Order Now</h2>
                <i class="fa fa-shopping-basket"  style="font-size:90px;"></i>
            </div>
            <div class="grid-container-item">
                <h2>Pay</h2>
                <i class="fa fa-cc-stripe" style="font-size:90px;" ></i>
            </div>
            </div>
    </main>
<%- include('../includes/footer.ejs') %>